.wrapper {
  /* min-height: 100%;
  padding-bottom: 100px; */

  background: url('GreenBackground.jpg') center center fixed; 
  display: table; 
  height: 100%; 
  position:relative;
  width:100%;
  background-size: cover;
  /* color: white;  */
  background-repeat: no-repeat;
  background-size: auto;
}
